<h2>Contact Form</h2>
<h3><i>Please submit to get in touch!</i></h3>
<form [formGroup]="contactForm" (submit)="onSubmit()">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
        @if (contactForm.touched || contactForm.dirty) {
            @if (contactForm.get('email')?.hasError('required')) {
                <mat-error>
                    Email is required.
                </mat-error>
            }
            @if (contactForm.get('email')?.hasError('email')) {
                <mat-error>
                    Please enter a valid email.
                </mat-error>
            }
        }
    </mat-form-field>

    <br>

    <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name"/>
            @if (contactForm.touched || contactForm.dirty) {
                @if (contactForm.get('name')?.hasError('required')) {
                    <mat-error>
                        Name is required.
                    </mat-error>
                }
            }
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone"/>
        @if (contactForm.dirty || contactForm.touched) {
            @if (contactForm.get('phone')?.hasError('pattern')) {
                <mat-error>
                    Phone must be numeric and 10 digits.
                </mat-error>
            }
        }
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput
            formControlName="message"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5">
        </textarea>
        
        @if (contactForm.dirty || contactForm.touched) {
            @if (contactForm.get('message')?.hasError('required')) {
                <mat-error>
                    Message is required.
                </mat-error>
            }
        }
    </mat-form-field>

    <br>

    <button mat-button type="submit" [disabled]="!contactForm.valid">Submit</button>
</form>
